@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyEcommerce</h1>
    <p class="lead">A simple E-commerce Web Application for building your online business. Developed using ASP.NET with MVC 5 and Entity Framework 6. You can use this as base for building complex E-commerce Web Apps.</p>
    <p><a href="_#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enim ad minim</h2>
        <p>
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat doming id quod mazim placerat doming id quod mazim placerat littera gothica, quam
        </p>
        <p><a class="btn btn-default" href="_#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Illum eu feugiat</h2>
        <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat littera gothica, quam</p>
        <p><a class="btn btn-default" href="_#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Typi non habent</h2>
        <p>facer possim assum. Typi non habent claritatem insitam; tation suscipit tation ullamcorper suscipit est usus claritatem. Legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc</p>
        <p><a class="btn btn-default" href="_#">Learn more &raquo;</a></p>
    </div>
</div>